/* 限定媒体类型 print 打印设备 */
@media print {
  body {
    font-size: 10pt;
  }
}
/* <=600px background:yellow
<=1200px background: darkmagenta */
@media screen and (max-width: 1200px) {
  body {
    background-color: darkmagenta;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-color: yellow;
  }
}
